*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: rgb(119, 212, 235);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80vh;
}
.day{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}
.smile{
    padding-left: 5px;
}
.coffee{
    padding-bottom: 2px;
}
.input-task{
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    background-color: white;
    width: 450px;
    margin-top: 25px;
}
.input-task:hover{
    box-shadow: 0 0 10px rgba(250,250,250,0.8);
}
.input-task:after{
    content: "";
    display: table;
    clear: both;
}
.input--task:active{
    border: none;
}
#input--task{
    border: none;
    width: 415px;
    padding-left: 10px;
    height: 35px;
    outline: none;
    font-size: 18px;
}
button{
    border: none;
    background-color: white;
}
button:hover{
    cursor: pointer;
}
.input-task img{
    margin-top: 4px;
}

.text{
    margin-top: 30px;
    font-size: 18px;
    color: darkblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: rgb(247, 101, 48);
}
.output-task{
    margin: 0;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    background-color: white;
    width: 450px;
    margin-top: 5px;
    height: 35px;
    align-items: center;
    padding-left: 10px;
}
#task{
    margin-top: 30px;
    position: relative;
}
.delete-task{
    display: flex;
}
.delete-icon{
    position: absolute;
    float: right;
    margin-left: 410px;
    padding: 2px;
    border-radius: 5px;
}
.delete-icon:hover{
    background-color: red;
}